{% extends 'partials/base.html' %}
{% block content  %}
<div class="container">
<div class="alarm">
       <h3>py<img src="/static/images/clock.svg" alt="" height="50%" width="10%"></h3>
    </div>
    <div class="container">
        <header>About PyAlarm</header>
        <p>The Alarm clock is a simple interactive project that assist learner to set a time at any given period,
               once it is logged succesfully, 
         it indicate a ring sound to draw the attension of the user !</p>
    </div>
{%  endblock %}
